section {
  width: 100%;
  height: 100%;
  background-color: #0088cc0f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dashed #730513;
  color: #730513;
  font-size: 50px;
  font-weight: bold;
}
