@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .mf-content {
    width: 83%;
    height: 95vh;
    padding: 15px;

  }

  i {
    margin-right: 10px;
  }
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0088cc;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #dddddd;
  display: block;
  margin-top: 10px;
}

.sidenav a:hover {
  color: #ffffff;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
